.html {
    background-image: linear-gradient(to bottom right, rgb(17, 162, 206),rgb(141, 64, 113));
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(17, 162, 206),rgb(141, 64, 113));
    margin-bottom: 120px;
    
}

.titulo {
    color: rgb(255, 0, 0);
    font-family: 'Varela Round', sans-serif;;
}

.subtitulo {
    color: rgb(250, 131, 88);
    font-family: 'Varela Round', sans-serif;;
}

.start {
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgb(17, 162, 206),rgb(141, 64, 113));
    height: 80px;
    width: 120px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;;;
    color: white;
    border: 1px rgb(136, 58, 84) solid
}

.start:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 195, 255),rgb(235, 24, 157));
    border: transparent;
}

.areaPerguntas {
    border: 2px  black;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
}

.inputResposta {
    background-image: linear-gradient(to bottom right, rgb(238, 238, 238),rgb(238, 151, 206));
    height: 40px;
    width: 200px;
    text-align: center;
    border: rgb(255, 0, 43) 2px solid;
    border-radius: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
}

.div_perguntas {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(153, 227, 250),rgb(255, 177, 227));    
    border-radius: 8px;
    color: rgb(255, 0, 212);
    font-weight: bold;
}

.confirm {
    background-image: linear-gradient(to bottom right, rgb(17, 162, 206),rgb(141, 64, 113));
    height: 40px;
    width: 90px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    color: white;
    border: 1px rgb(136, 58, 84) solid;
    border-radius: 8px;
    display: inline-block
    
}

.confirm:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 195, 255),rgb(235, 24, 157));
    border: transparent;
}

.restart {
    background-image: linear-gradient(to bottom right, rgb(17, 162, 206),rgb(141, 64, 113));
    height: 90px;
    width: 100px;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    color: white;
    border: 1px rgb(146, 7, 88) solid;
    border-radius: 15px;
}

.restart:hover {
    background-image: linear-gradient(to bottom right, rgb(0, 195, 255),rgb(235, 24, 157));
    border: transparent;
}

.div_erro {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0),rgb(187, 9, 9));   
    border-radius: 8px;
    font-weight: 800;
    height: 50px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: large;
    display: none;
    padding-top: 21px;
}

.divReiniciar {
    justify-content: center;
    align-items: center;
}

.divSucesso {
    text-align: center;
}

.divSucesso h1 {
    font-family: 'Varela Round', sans-serif;;
    color: rgb(9, 255, 0);
    text-align: center;
}

.divSucesso h3 {
    font-family: 'Varela Round', sans-serif;;
    color: rgb(9, 255, 0);
}

.cruzadinhaGeral {
    background-color: rgb(29, 29, 33);
    border-radius: 8px;
    height: 530px;
    width: 600px;
    display: flex;
    justify-content: center;
    background-image: url(fundoCruzadinha.jpg);
    border: 2px solid rgb(240, 13, 164);  
}

.cruzadinhaGeral td {
    height: 25px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    border-radius: 3px;
}

.adressbus {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206); 
   
    
}

.memoriademassa {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.ram {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.rom {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.cpu {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.dualcore {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.ula {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.eprom {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.quadcore {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.dma {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.databus {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.cs {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.registradores {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}

.flash {
    background-color: rgb(17, 162, 206);
    border: rgb(255, 3, 163) 1px solid;
    color: rgb(17, 162, 206);
}